.weather-forecast {
    opacity: 0;
    position: relative;
    transition: opacity 0.5s ease-in;
}

.wf__content {
    overflow: hidden;
}

.weather-forecast .wf__range {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease-out;
}

.wf__day {
    flex: 0 0 94px;
    background-color: #ffffff;
    text-align: center;
    padding: 10px 20px 30px 20px;
    border-right: 1px solid #f5f6f5;
}

.wf__day .day__date .date__dotw {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    line-height: 18px;
}
.wf__day .day__date .date__title {
    display: inline-block;
    width: 100%;
    font-size: 17px;
    line-height: 25px;
}

.wf__day .day__precipitation {
    margin-bottom: 20px;
}

.wf__day .day__precipitation .precipitation__icon {
    width: 45px;
    height: 45px;
}

.wf__day .day__precipitation .precipitation__descr {
    display: block;
    font-size: 12px;
    line-height: 18px;
    color: #9b9b9b;
}

.wf__day .day__temperature .temperature__day {
    font-size: 18px;
    line-height: 27px;
}

.wf__day .day__temperature .temperature__night {
    font-size: 12px;
    line-height: 18px;
    color: #9b9b9b;
}

.wf__prev-day,
.wf__next-day {
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    transition: all 0.3s;
}

.wf__prev-day {
    left: -60px;
}

.wf__next-day {
    right: -60px;
}

.wf__prev-day:hover,
.wf__next-day:hover {
    background-color: rgba(177, 177, 177, 0.3);
    cursor: pointer;
}

.wf__prev-day .prev-day__icon,
.wf__next-day .next-day__icon {
    position: absolute;
    top: calc(50% - 20px);
    width: 100%;
    height: 40px;
}
