html {
    min-height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 21px;
    background-color: #f5f6f5;
    min-height: 100vh;
}

.page-title {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
}

.page-container {
    width: 100%;
    padding: 10px 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
    .page-container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .page-container {
        max-width: 960px;
    }
}
@media (min-width: 768px){
    .page-container {
        max-width: 720px;
    }
}
@media (min-width: 576px) {
    .page-container {
        max-width: 540px;
    }
}
